@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.subheader {
    width: 100%;
    font-family: 'Roboto Slab', serif;
    background-color: #2d4059;
    height: 100vh;

    overflow: hidden;
}

.subheader .root {
    padding-top: 76px; /* Header */
    height: 100%;

    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
}

.subheader .root .title {
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center;
}

.subheader .root .title p {
    font-size: 7vw;
    color: white;
    width: 80%;
    text-align: center;
    margin: 0;
    padding: 15px 0;
}

.subheader .root .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    height: 100%;
    width: 100%;
}

.subheader .root .projects .reference {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
    width: 100%;

    padding: 0 0 0 25px;
}

.subheader .root .projects .reference .projects-descr {
    font-size: 1.2rem;
    margin: 0;
}

.subheader .root .projects .reference .more {
    font-size: 0.8rem;
    margin: 0;
    border-bottom: 2px solid #ffd460;
    /* text-decoration: underline #ffd460; */
}

.subheader .root .projects .reference button {
    background-color: #ffd460;
    color: #2d4059;
    font-weight: bolder;
    padding: 7px 15px;
    border-radius: 5px;
    border: none;
}

.subheader .root .projects .reference button:hover {
    background-color: white;
    color: #2f89fc;
}

.subheader .root .projects .reference .link-root .link {
    color: white;
    font-size: 0.8rem;
    margin: 0;
}

.subheader .root .projects .project-content  {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subheader .root .projects .project-content .carousel-div {
    height: 80%;
    width: 80%;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px dashed white; */
}

.subheader .root .projects .project-content .carousel-div
.ant-carousel, .slick-slider, .slick-list, .slick-track, .slick-active div {
    /* width: 100%; */
    height: 100%;
}

.subheader .root .projects .project-content .carousel-div
.ant-carousel, .slick-slider, .slick-list, .slick-track div {
    /* width: 100%; */
    height: 100%;
}

.subheader .root .projects .project-content .carousel-div
.ant-carousel .slick-slider .slick-list img {
    height: 100%;
    /* width: auto; */
}

.subheader .root .projects .project-content .carousel-div img {
    height: 100%;
}

.subheader .root .nav-below {
    margin-bottom: 5px;
}

.subheader .root .nav-below span{
    color: white;
    width: 1rem;
    height: 1rem;
}

@media only screen and (min-width: 768px) {

    .subheader .root {
        /* background-image: none;
        background-color: grey; */
    }

    .subheader .root .title h1 {
        font-size: 10vw;
    }

    .subheader .root .title p {
        font-size: 3vw;
    }
}