@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.subheader {
    width: 100%;
    font-family: 'Roboto Slab', serif;
    background-color: #2d4059;
    height: 100vh;

    overflow: hidden;
}

.subheader .sub-root {
    padding-top: 54px; /* Header */
    height: 100%;
    max-height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.subheader .sub-root .title {
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center;
}

.subheader .sub-root .title p {
    font-size: 7vw;
    color: white;
    width: 80%;
    text-align: center;
    margin: 0;
    padding: 15px 0;
}

.subheader .sub-root .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
}

.subheader .sub-root .projects .reference {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
    width: 100%;

    padding: 0 0 0 25px;
}

.subheader .sub-root .projects .reference .projects-descr {
    font-size: 1.2rem;
    margin: 0;
}

.subheader .sub-root .projects .reference .more {
    font-size: 0.8rem;
    margin: 0;
    border-bottom: 2px solid #ffd460;
}

.subheader .sub-root .projects .reference button {
    background-color: #ffd460;
    color: #2d4059;
    font-weight: bolder;
    padding: 7px 15px;
    border-radius: 5px;
    border: none;
}

.subheader .sub-root .projects .reference button:hover {
    background-color: white;
    color: #2f89fc;
}

.subheader .sub-root .projects .reference .link-root .link {
    color: white;
    font-size: 0.8rem;
    margin: 0;
}

.subheader .sub-root .projects .project-content  {
    height: 100%;
    width: 100%;
}

.subheader .sub-root .projects .project-content {
    height: 90%;
    width: 90%;

    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.subheader .sub-root .projects .project-content::-webkit-scrollbar {
    display: none;
}

.subheader .sub-root .projects .project-content img {
    width: 80%;
    /* height: 50%; */
    /* max-height: 100%; */
    object-fit: contain;
    margin-right: 20px;
}

.subheader .sub-root .nav-below {
    margin-bottom: 5px;
}

.subheader .sub-root .nav-below span {
    color: white;
    width: 1rem;
    height: 1rem;
}

@media only screen and (min-width: 768px) {

    .subheader .sub-root {
        /* background-image: none;
        background-color: grey; */
    }

    .subheader .sub-root .title {
        width: 75%;
        /* height: 50px; */
    }

    .subheader .sub-root .title p {
        font-size: 40px;
    }

    .subheader .sub-root .projects .project-content {
        height: 90%;
        width: 75%;
        /* max-width: 800px; */
    
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        overflow-x: auto;
    }

    .subheader .sub-root .projects .reference {
        width: 75%;
    }

    /* .subheader .sub-root .projects .project-content img {
        display: inline-block;
    } */

    .subheader .sub-root .projects .project-content img {
        width: 50%;
        /* height: 100%; */
        object-fit: contain;
    }
}