.content-root {
    display: flex;
    flex-direction: column;
    padding-top: 74px; /* Header */
    position: relative;
    align-items: center;
    height: auto;
    font-family: 'Roboto Slab', serif;

    background-color: #2d4059;
}

.content-root h1 {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.content-item {
    margin-bottom: 30px;
}

/* For desktops: */
@media only screen and (min-width: 768px) {
    .content-root {
        /* display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        align-items: center;
        padding-top: 70px; */
    }

    .content-item {
        /* width: 80%;
        height: 100%;
        text-align: center;
        place-self: center; */
    }

    .card {
        /* height: 100%; */
    }
}