.about-root {
	width: 100%;
	color: black;
	padding: 25px 0;
	font-family: 'Roboto Slab', serif;
}

.about-root .about-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin: auto;
	/* border: 1px solid rgb(218, 218, 218); */
	/* box-shadow: 1px 1px 10px rgb(216, 214, 214); */

	/* background-color: #e2f3f5; */
	background-color: #324e7b;
	border-radius: 7px;
	padding: 20px 0;
}

.about-root .about-container img {
	/* padding-top: 10px; */
	height: 150px;
	/* width: 150px; */
	border-radius: 15%;
}

.about-root .about-container h1 {
	color: #ffd460;
	font-weight: bold;
	text-align: justify;
}

.about-root .about-container p {
	padding-top: 25px;
	font-size: large;
	width: 80%;
	text-align: center;
	color: white;
}

@media only screen and (min-width: 768px) {

    .about-root .about-container {
        max-width: 600px;
    }

    .subheader h1 {
        font-size: 10vw;
    }

    .subheader p {
        font-size: 3vw;
    }
}