.page-root {
    min-height: calc(100vh - 320px); /* Footer height */
    background-color: #2d4059;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 54px;
}