.header-component {
    position: absolute;
    width: 100%;
    background-color: #ffd460;
    background-image: url("../../Assets/keyboard_2.png");
    background-position: center;
    /* background-size: cover; */
    background-size: 400px 200px;
    /* background-position; */
    overflow: hidden;
    font-family: 'Roboto Slab', serif;
}

.header-component .header-title {
    color: #2d4059;
    font-weight: bold;
    margin: 0;
    /* text-decoration: underline;
    text-decoration-color: #ffd460; */
}

.ant-page-header {
    /* background: none;
    background-color: transparent; */
    z-index: 10;
    padding: 5px 24px;
}

.header-icon {
    height: 30px;
    width: 30px;
}

.header-icon:focus {
    outline: none;
}