@import "../App/MainStyle.scss";

.header-main {
    position: absolute;
    z-index: 10;
    
    width: 100vw;
    height: 70px;

    @include flex-centered(row);
    justify-content: space-between;
    align-items: center;

    padding: 0 30px;

    .title-root {
        height: 100%;
        @include flex-centered(column);
        .title {
            color: $primary-color-2;
            margin: 0;
            font-size: large;
        }
    }

    .menus {
        height: 100%;
        color: $primary-color-2;
        
        @include flex-centered(row);
        justify-content: right;
        align-items: center;

        margin: 0;

        .contact {
            background-color: $primary-color-1;
            padding: 5px 10px;
            color: $primary-color-4;
        }
    }

    .desktop-menu {
        display: none;
    }

    @media only screen and (min-width: $desktop-min-width) {
        .desktop-menu {
            display: block;
            margin-right: 30px;
        }

        .pointer-hover:hover {
            cursor: pointer;
        }
    }
}
