.footer {
    /* margin-top: 40px; */
    border-top: 1px solid #666;
    background: rgba(0, 0, 0, .5);
    color: white;

    position: relative;
    width: 100%;
    bottom: 0;
    /* height: 10rem; */
    font-family: 'Roboto', sans-serif;
}

.footer-text {
    color: white;
}
