.main-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    font-family: 'Roboto Slab', serif;

    background-color: #2d4059;
}

.main-item {
    /* width: 70%; */
    /* align-items: left; */
    /* margin-bottom: 20px;
    margin-top: 20px; */
}