.habilities {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: auto;
	padding: 20px 0;
	
	/* background-image: url("../../Assets/background_2.jpg"); */
}

.habilities h1 {
	color: white;
	font-size: 2rem;
}

.habilities-root {
	padding: 15px 0;
	/* display: flex; */
	/* flex-wrap: wrap; */
	/* align-items: center;
	justify-content: center; */
}

.habilities-root img {
	padding: 5px;
	width: 50px;
	height: 50px;
	/* width: 30vw;
	height: 40vh; */
}

.habilities-root div {
	display: none;
}

@media only screen and (min-width: 768px) {
	.habilities-root {
		/* display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center; */
	}

	.habilities-root img {
		/* border-radius: 50%; */
		/* width: 200px;
		height: 200px;
		padding-left: 15px; */
	}

	.habilities-root div {
		/* display: block; */
	}
}